<ion-view view-title="Veille">
  <ion-content class="padding">
    <div id="form">
      <input type="hidden" id="id_input">
      <input type="hidden" id="id_user_input">
      <label>Prénom : </label><input type="text" id="firstname_input"><br>
      <label>Titre : </label><input type="text" id="title_input"><br>
      <label>Date : </label><input type="text" id="date_input"><br>
      <label>Catégorie : </label><input type="text" id="type_input"><br>
      <label>Description : </label><input type="text" id="description_input"><br>
      <label>Link : </label><input type="text" id="link_input"><br>
      <label>Source : </label><input type="text" id="source_input"><br>
      <button type="button" onclick="save();" name="button">Save</button>
    </div>
  </ion-content>
</ion-view>
