<ion-view view-title="User">
  <ion-content class="padding">
    <div class="detailsVeille">
      <h2>{{user[0].name}}</h2>
      <p>{{user[0].firstname}}</p>
      <p>{{user[0].email}}</p>
      <p>{{user[0].promo}}</p>
    </div>
    <ion-item class="veilles" ng-repeat="veille in veilles" href="#/tab/veilles/{{veille.id}}">
      {{veille.title}}
    </ion-item>
  </ion-content>
</ion-view>
