<ion-view view-title="Veille">
  <ion-content class="padding">
    <div class="detailsVeille">
      <h2>{{veille.title}}</h2>
      <h3>{{veille.date}}</h3>
      <p>{{veille.type}}</p>
      <p>{{veille.description}}</p>
      <p>{{veille.source}}</p>
      <a href="#/tab/users/{{veille.id_user}}">Mais qui a donc fait cette veille ?</a>
    </div>
  </ion-content>
</ion-view>
