/* Empty. Add your own CSS if you like */
.item-content {
  text-align:center;
}

.detailsVeille {
  width:50%;
  padding:5%;
  border-radius:2%;
  margin-top:5%;
  margin-right:auto;
  margin-left:auto;
  text-align:center;
  background-color:#C1ABC9;
}

.padding {
  background-color:#28172D;
}

.tab-nav {
  background-color:#E24329;
}

.title {
  background-color:#E24329;
}

.back-button {
  background-color:black;
}

.icon {
  color:#3B5887;
}

.home {
  padding-top:10%;
  text-align:center;
  background-color:white;
  width:100%;
  height:39.5em;
}

.veilles {
  margin-left:auto;
  margin-right:auto;
  width:50%;
  margin-top:5%;
  font-size:3em;
  background-color:orange;
}

#form {
  margin-left:40%;
  margin-top:3%;
}
